.data-table-container {
    display: flex;
    justify-content: flex-start; /* Đảm bảo bảng bắt đầu từ đầu */
    align-items: flex-start;
    margin: 0; /* Loại bỏ margin */
    overflow-x: visible; /* Bật thanh cuộn ngang */
    width: 100%; /* Chiếm toàn bộ chiều rộng */
}

.data-table {
    border-collapse: collapse;
    font-size: 14px; /* Kích thước chữ */
    font-family: Arial, sans-serif;
    min-width: 100%; /* Đảm bảo bảng đủ rộng để có thể cuộn */
    text-align: center;
    border: 1px solid #ddd; /* Viền bảng */
    color: #023047;
}

.data-table th {
    background-color: #F72C5B; /* Màu nền tiêu đề */
    color: #FFFFFF; /* Màu chữ tiêu đề */
    padding: 10px;
    text-align: center;
    position: sticky; /* Để cố định tiêu đề */
    top: 0;
    z-index: 2;
}

.data-table td {
    padding: 8px 10px;
    text-align: center;
    position: relative;
}

.data-table tr:nth-child(even) {
    background-color: #f3f3f3; /* Màu nền dòng chẵn */
}

.data-table tr:nth-child(odd) {
    background-color: #ffffff; /* Màu nền dòng lẻ */
}

.data-table tr:hover {
    background-color: #8ECAE6; /* Màu nền khi hover */
    color: #000000; /* Màu chữ khi hover */
}
